.hero {
    // @extend %centeredFlex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: $dark-blue-color;
    background-color: rgba(196, 196, 196, 1);
    max-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-mobile.jpg);
}

@media screen and (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-mobile@2x.jpg);
    }
}


@media screen and (min-width: 481px) and (max-width: $tablet)  {
    .hero {
        max-width: 767px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-tablet.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../images/hero/hero-tablet@2x.jpg);
        }
    }
}

@media screen and (min-width: 769px) {
    .hero {
        max-width: 1600px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../images/hero/hero-decktop.jpg);
    }
}
@media screen and (min-width: $tablet) and (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../images/hero/hero-decktop@2x.jpg);
    }
}

@media screen and (min-width: $decktop) {
    .hero {
        height: 600px;
    }
}



.hero__tiitle {
    color: $white-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: $typical-item-margin;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $decktop) {
        font-size: 44px;
        line-height: 1.36;
        max-width: 696px;
    }
}

.hero__buttton {
    margin-left: auto;
    margin-right: auto;
}