.logo {
    display: flex;
    font-family: $accent-font-family;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
    color: $blue-color;
    
    @media screen and (max-width: 767px) {
        justify-content: center;
        align-items: center;
        // margin-right: auto;
    }

    @media screen and (min-width: $tablet) {
        justify-content: center;
        margin-bottom: 0px;
    }
    
    @media screen and (min-width: $decktop) {
        font-size: 26px;
        line-height: 1.19;
        justify-content: left
    }

    &--margin {    
        @media screen and (max-width: 767px) {
            margin-right: 88px;
        }

        @media screen and (min-width: $tablet) {
            margin-right: 93px;
        }
    }
    
    &--theme-dark {
        color: rgba(0, 0, 0, 1);
    }
    &--theme-light {
        color: $white-color;
    }
}

