.backdrop {
    @media screen and (max-width: $mobile) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white-color;
        padding: 93px 15px 94px 15px;
        overflow-y: scroll;
    }
}

.backdrop.is-hidden {
    @media screen and (max-width: $mobile) {
        display: none;
    }
}

.modal {
    @media screen and (max-width: $mobile) {
        position: absolute;
        top: 93px;
        padding: 40px;
        background-color: $white-color;
        max-width: calc($mobile - 30px);
    }
}