
body {
    background-color: $white-color;
    color: $primery-text-color;
    font-family: $primery-font-family;
    letter-spacing: 0.03em;
}

.container {
    // width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    @media screen and (min-width: $mobile) {
        width: $mobile;
    }

    @media screen and (min-width: $tablet) {
        width: $tablet;
    }

    @media screen and (min-width: $decktop) {
        width: $decktop;
    }
    outline: 2px solid tomato;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width: $decktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section-title {
    color: $title-text-color;
    font-weight: 700;
    text-align: center;
    font-size: 28px;
    line-height: 1.17;
    
    @media screen and (min-width: $decktop) {
        margin-bottom: 50px;
        font-size: 36px;
    }
}